<div class="container signup-list user-action">
  <h2 class="signup-header">Signup List</h2>
  <table class="responsive-table highlight">
    <thead>
      <tr>
        <th data-field="contact">Contact Name</th>
        <th data-field="email">Email</th>
        <th class="right-align" data-field="phone">Phone Number</th>
        <th class="right-align" data-field="total">Total Donation</th>
        <th class="center-align" data-field="paid">Paid Status</th>
      </tr>
    </thead>

      <%= render partial: 'signup', collection: @signups %>
        
    </table>
</div>