<div class="container user-action">
  <p class="confirm-info heavy">
  Please send check payable to <span id="charity-name">Christopher Katzenstein Scholarship Fund</span> to:
  </p>
  <p class="confirm-info">
  5A Davey Lane<br>
  Sandyston, NJ  07826
  </p>
</div>

<div class="container row user-action">
  <p class="confirm-info heavy">
  For more information, contact:
  </p>
  <div class="col s3 offset-3 m3 offset-2 l3 offset-2">
    <p class="confirm-info">
    Chris Nix<br>
    (973) 670-6601<br>
    chrisanix@hotmail.com
    </p>
  </div>
  <div class="col s3 offset-3 m3 offset-2 l3 offset-2">
    <p class="confirm-info">
    Loretta Nix<br>
    (973) 919-9696<br>
    lornix63@hotmail.com
    </p>
  </div>

</div>