<div class="player-info-collection">
  <%= ff.label :diner_first_name, "Diner #{diner_counter} First Name", class: "form-label" %><br>
  <%= ff.text_field :diner_first_name %>
</div>
<div>
  <%= ff.label :diner_last_name, "Diner #{diner_counter} Last Name", class: "form-label" %><br>
  <%= ff.text_field :diner_last_name %> 
</div>