<% diners_signups.each do |signup| %>
  <tr class="details-row">
    <td>
      <ul>
      <% signup.diners.each do |diner| %>
        <li><%= "#{diner.diner_first_name} #{diner.diner_last_name}" %></li>
      <% end %>
      </ul>
    </td>
    <td><%= "#{signup.first_name} #{signup.last_name}"%></td>
    <td class="right-align"><%= signup.contact_number %></td>
    <td class="center-align"><%= signup.paid_status %></td>
  </tr>
<% end %>