<div class="container player-reg-info">
  <h1 class="center-align reg-info">Join us for dinner!</h1>
  <h2 class="center-align reg-info">Cost per person: $40</h2>
  <h3 class="center-align reg-info">Awards & prizes during dinner</h3>
  <div class="center-align waves-effect waves-light btn-large info-button">
    Prize & Auction Info
  </div>
  
</div>

<div class="container prize-info">
  <p class="center-align prizes-auction">50/50 and auction items available during dinner buffet.</p>
  <p class="center-align prizes-auction">Sports memorabilia, jewelry, gift cards, golf items and more!</p>
  <h4 class="center-align reg-info">Prizes include:</h4>
  <ul class="center-align prizes-auction">
    <li>Winning team: 4 wedges</li>
    <li>Longest drive: TBD</li>
  </ul>
</div>

<%= render 'diners_form' %>