<div class="center-align banner">
  <h1 class="flow-text headline">Christopher James Katzenstein "Katz"</h1>
  <h1 class="flow-text headline">7th Annual Memorial Golf Tournament</h1>
  <h2 class="flow-text info">September 17, 2016</h2>
  <h2 class="flow-text info">Lake Mohawk Golf Course</h2>
</div>

<div class="center-align buttons">
  <%= link_to "sponsor", sponsorships_new_path, class: "waves-effect waves-light btn-large" %><br>
  <%= link_to "register players", players_new_path, class: "waves-effect waves-light btn-large" %><br>
  <%= link_to "dinner only", diners_new_path, class: "waves-effect waves-light btn-large" %>
</div>

<div class="golf-picture">
  <img class="right-align" alt="generic golf picture" src="http://media.kimatv.com/images/golf_stock_0510.jpg">
</div>

