<div class="container player-reg-info">
  <h1 class="center-align reg-info">Thank you for your continued support!</h1>
  
  <div class="center-align waves-effect waves-light btn-large info-button">
    Sponsorship Opportunities
  </div>
  
</div>

<div class="container prize-info">
  <h4 class="center-align reg-info">Sponsorship opportunities:</h4>
  <ul class="center-align prizes-auction">
    <li>Buffet sponsor $1,200</li>
    <li>Beverage cart sponsor $1,000</li>
    <li>At the turn snack sponsor $500</li>
    <li>Closest to the pin sponsor $250</li>
    <li>Longest drive sponsor $250</li>
    <li>Tee Box Sign $250</li>
    <li>Tee Box +1 $400</li>
    <li>Tee Box +2 $550</li>
    <li>Tee Box +3 $700</li>
    <li>Tee Box +3 $850</li>
  </ul>
</div>

<%= render 'sponsorships_form' %>