<div data-role= "page" class="container player-reg-info">
  <h1 class="center-align reg-info">Join us for a great day of golf!</h1>
  <h2 class="center-align reg-info">Cost per player: $150</h2>
  <h3 class="center-align reg-info">Includes: golf, cart, lunch and dinner</h3>
  <h3 class="center-align reg-info">12:30pm registration, 1:00pm tee time</h3>
  <h2 class="center-align reg-info">Scoring/Rules: Scramble</h2>
  <h3 class="center-align reg-info">Awards & prizes during dinner</h3>
  <div class="center-align waves-effect waves-light btn-large info-button">
    Prize & Auction Info
  </div>
  
</div>

<div class="container prize-info">
  <p class="center-align prizes-auction">50/50 and auction items available during dinner buffet.</p>
  <p class="center-align prizes-auction">Sports memorabilia, jewelry, gift cards, golf items and more!</p>
  <h4 class="center-align reg-info">Prizes include:</h4>
  <ul class="center-align prizes-auction">
    <li>Winning team: 4 wedges</li>
    <li>Longest drive: TBD</li>
  </ul>
</div>

<%= render 'players_form' %>