@import "materialize";

nav {
  background-color: Maroon;
}

.nav-link {
  color: Linen;
  font-size: 15px;
}

.login-link {
  color: Linen;
  font-size: 25px;
}

.katz-pic {
  /*max-height: 500%;*/
}

body {
  background: url("grass_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner {
  background-color: Linen;
  color: Maroon;
  clear: both;
}

.headline {
  font-size: 40px;
  margin: 3px;
}

.info {
  font-size: 35px;
  margin: 3px;
}

.btn-large {
  background-color: Maroon;
  color: Linen;
  margin: 5px;
}

.btn-large:hover {
  background-color: Linen;
  color: Maroon;
  border: 2px solid Maroon;
}

.buttons {
  float: left;
  margin-left: 43%;
}

.info-button {
  background-color: Linen;
  color: Maroon;
}

.info-button:hover {
  background-color: Maroon;
  color: Linen;
  border: 2px solid Linen;
}

.golf-picture {
  float: right;
}

.charity-info {
  background-color: Maroon;
  clear: both;
  font-size: 25px;
  color: Linen;
}

.error-explanation {
  background-color: Linen;
  border: 2px solid Maroon;
  color: Maroon;
  padding-left: 10px;
  margin-bottom: 10px;
}

.error {
  font-size: 20px;
}

.player-reg-info {
  background-color: Maroon;
  float: right;
  margin-right: 5%;
  margin-bottom: 2%;
}

.prize-info {
  background-color: Maroon;
  float: right;
  margin-right: 5%;
  margin-bottom: 2%;
  display: none;
}

.prizes-auction {
 color: Linen;
 font-size: 25px; 
}

.signup-form {
  clear: both;
  margin-bottom: 10px;
}

.user-action {
  background-color: Linen;
  padding: 10px;
}

.reg-info {
  color: Linen;
}

.description {
  color: Maroon;
  font-size: 20px;
  text-decoration: underline;
}
.signup-info {
  width: 40%;
  float: left;
}

.players-info {
  width: 40%;
  float: right;
}

.players-signup-button {
  clear: both;
  text-align: center;
}

.paid-button {
  margin-top: -30px;
  padding-right: 40px;
  width: 125px;
}

.signup-summary {
  background-color: Maroon;
  color: Linen;
}

.signup-confirmation {
  background-color: Linen;
  padding: 5px 0px 5px 15px;
  margin-bottom: 5px;
}

.signup-header {
  color: Maroon;
  font-size: 25px;
  text-decoration: underline;
}

.confirm-info {
  font-size: 20px;
  color: Maroon;
}

#total-donation {
  color: Maroon;
  font-size: 25px;
}

.heavy {
  font-weight: bold;
}

#charity-name {
  font-style: italic;
}

.signup-list {
  clear: both;
}

.form-label {
  color: Maroon !important;
  font-size: 15px;
}

.dropdown-button {
  margin-top: 20px;
}

.dropdown-content li > span {
  color: Maroon;
}

.select-dropdown {
  color: Maroon;
}

[type="checkbox"]:checked + label:before {
  border-right: 2px solid Maroon;
  border-bottom: 2px solid Maroon;
}

input[type="text"]:focus {
  border-bottom: 1px solid Maroon !important;
  box-shadow: 0 1px 0 0 Maroon !important;
}

.dropdown-update-highlighting {
  background: Maroon;
  color: Linen;
  font-size: 15px;
  padding: 4px;
}
 
.signup-details {
  display: none !important;
}

.details-row {
  border-top: 2px solid Maroon;
}