@import "materialize";

nav {
  background-color: Maroon;
}

.nav-link {
  color: Linen;
  font-size: 15px;
}

.katz-pic {
  /*max-height: 500%;*/
}

body {
  background: url("https://pixabay.com/static/uploads/photo/2014/02/27/16/09/grass-275986_960_720.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner {
  background-color: Linen;
  color: Maroon;
  clear: both;
}
.headline {
  font-size: 40px;
  margin: 3px;
}

.info {
  font-size: 35px;
  margin: 3px;
}

.btn-large {
  background-color: Maroon;
  color: Linen;
  margin: 5px;
}

.btn-large:hover {
  background-color: Linen;
  color: Maroon;
  border: 2px solid Maroon;
}

.buttons {
  float: left;
  margin-left: 43%;
}

.info-button {
  background-color: Linen;
  color: Maroon;
}

.info-button:hover {
  background-color: Maroon;
  color: Linen;
  border: 2px solid Linen;
}

.golf-picture {
  float: right;
}

.charity-info {
  background-color: Maroon;
  clear: both;
  font-size: 25px;
  color: Linen;
}

.player-reg-info {
  background-color: Maroon;
  float: right;
  margin-right: 5%;
  margin-bottom: 2%;
}

.prize-info {
  background-color: Maroon;
  float: right;
  margin-right: 5%;
  margin-bottom: 2%;
  display: none;
}

.prizes-auction {
 color: Linen;
 font-size: 25px; 
}

.signup-form {
  clear: both;
  margin-bottom: 10px;
}

.new-signup {
  background-color: Linen;
  padding: 10px;
}

.reg-info {
  color: Linen;
}

.description {
  color: Maroon;
  font-size: 15px;
}
.signup-info {
  width: 40%;
  float: left;
}

.players-info {
  width: 40%;
  float: right;
}

.players-signup-button {
  clear: both;
  text-align: center;
}